@font-face {
    font-family: 'Bevellier-Black';
    src: url('/fonts/Bevellier-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bevellier-Bold';
    src: url('/fonts/Bevellier-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans-Regular';
    src: url('/fonts/DMSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans-ExtraLight';
    src: url('/fonts/DMSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-B-black: 'Bevellier-Black', sans-serif;
    --font-B-bold: 'Bevellier-Bold', sans-serif;
    --font-DM-r: 'DMSans-Regular', sans-serif;
    --font-DM-el: 'DMSans-ExtraLight', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: linear-gradient(
        135deg,
        #FFE8F3,
        #D9F3FF
    );
}